In [2]:
import numpy as np
import pandas as pd
import os

In [3]:
os.getcwd()

'C:\\Users\\Admin\\3D Objects\\imarticus PGDA\\Machine learning\\NEW DATASET\\Hackathon\\Bigmart Sales'

In [4]:
df_train=pd.read_csv('train.csv')
df_test=pd.read_csv('test.csv')
df_1=df_train.copy(deep=True)
df_2=df_test.copy(deep=True)
df_1

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [5]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [6]:
nulls=df_1.isnull().sum()
df_null=pd.DataFrame({'count':nulls,'percent':((nulls/df_1.shape[0])*100)})
df_null=df_null.sort_values('percent',ascending =False)
df_null

                           count    percent
Outlet_Size                 2410  28.276428
Item_Weight                 1463  17.165317
Item_Identifier                0   0.000000
Item_Fat_Content               0   0.000000
Item_Visibility                0   0.000000
Item_Type                      0   0.000000
Item_MRP                       0   0.000000
Outlet_Identifier              0   0.000000
Outlet_Establishment_Year      0   0.000000
Outlet_Location_Type           0   0.000000
Outlet_Type                    0   0.000000
Item_Outlet_Sales              0   0.000000

In [7]:
df_o=pd.concat([df_train,df_test],axis=1)
df_o

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,...,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,...,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999.0,Medium,Tier 1,Supermarket Type1
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,...,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007.0,NaN,Tier 2,Supermarket Type1
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,...,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998.0,NaN,Tier 3,Grocery Store
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,...,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007.0,NaN,Tier 2,Supermarket Type1
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,...,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985.0,Medium,Tier 3,Supermarket Type3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df_o.Item_Type.unique()

AttributeError: 'DataFrame' object has no attribute 'unique'

In [9]:
nulls=df_o.isnull().sum()
df_null=pd.DataFrame({'count':nulls,'percent':((nulls/df_o.shape[0])*100)})
df_null=df_null.sort_values('percent',ascending =False)
df_null

                           count    percent
Outlet_Size                 4448  52.188197
Item_Weight                 3818  44.796433
Outlet_Type                 2842  33.345066
Outlet_Location_Type        2842  33.345066
Outlet_Establishment_Year   2842  33.345066
Outlet_Identifier           2842  33.345066
Item_MRP                    2842  33.345066
Item_Type                   2842  33.345066
Item_Visibility             2842  33.345066
Item_Fat_Content            2842  33.345066
Item_Identifier             2842  33.345066
Outlet_Size                 2410  28.276428
Item_Weight                 1463  17.165317
Item_Identifier                0   0.000000
Outlet_Type                    0   0.000000
Outlet_Location_Type           0   0.000000
Outlet_Establishment_Year      0   0.000000
Outlet_Identifier              0   0.000000
Item_MRP                       0   0.000000
Item_Type                      0   0.000000
Item_Visibility                0   0.000000
Item_Fat_Content               0   0.000000
Item_Outlet_Sales              0   0.000000

In [10]:
df_1.Outlet_Size.unique()

array(['Medium', nan, 'High', 'Small'], dtype=object)

In [22]:
df_1.Outlet_Size.value_counts()

Medium    5203
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [14]:
df_1.Outlet_Size.unique()

array(['Medium', nan, 'High', 'Small'], dtype=object)

In [13]:
df_o.Item_Identifier.unique()

AttributeError: 'DataFrame' object has no attribute 'unique'

In [11]:
df_1.Outlet_Size.value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [14]:
df_1.Outlet_Size.fillna('Medium',inplace=True)

In [13]:
df_1.Outlet_Size

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64